<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title> Portfolio Website </title>
    
</head>
<body>
    <div class="Content" width="100%" >
        <h1> Enock Kipkorir</h1>
        <h2>Web Developer and System Designer</h2>
        <nav id="nav-tags">
            <a href=".">Content</a>|
            <a href=".">About</a>|
            <a href=".">Skills</a>|
            <a href=".">Addons</a>|
            <a href=".">Contact</a>
        </nav>
        <img id="profile-pic" src="{{url_for('static', filename='images/git_profile.jpeg')}}" alt="Profile picture" ><br>
        <table>
            <tr>
                <th> Experiences</th>
                <th> Projects</th>
                <th> Academic achievements</th>
            <tr>
                <td> Python developer with experience in HTML and CSS</td>
                <td> Built a task manager web app and deployed it on Heroku</td>
                <td> Still in college but mostly self taught through courses and tutorials</td>
            <tr>
                <td> Experienced in flask and APIs in general</td>
                <td> Completed multiple milestone projects and deployed them to Github</td>
                <td> Done multiples courses on programming and gained some badges</td>
            <tr>
                <td> Have experience on Git and Github and a good understanging on version control</td>
                <td> Worked with Databases and can connect and retrieve data from a database</td>
                <td> Completed a course Python fundamentals on udemy and gained Hands on experience</td>
            </tr>
            </tr>
            </tr>

            </tr>
        </table>
    </div>
    <div class="About Me">
        <h3> About </h3>
        <p>My name is Enock Kipkorir, I'm a backend developer. My go to language is Python 
            and mostly use Flask as a framework. An advantage I have over other backend developers is that I have experience in HTML<br>and CSS despite
            being a backend developer. I have worked with databases like SQLAlchemy, MongoDB and can connect a database to an API with ease. I am well conversant
            with the python framework Flask. I mostly use flask in building RESTful API and web development by building static website. I used Flask to build my Portfolio
            website. 
            <a href="https://portfolio-7eqn.onrender.com" target="_blank">Visit my portfolio website at:</a>
        </p>
        <p>
            I have completed mutliple milestone projects throughout my learning curve and pushed them 
            to Github for public access. I have also worked on a few personal<br> projects. I recently built 
            a task manager web app and deployed it to heroku. The user can view, add and delete tasks 
            on the app. The project is also on Github.
        </p>
        <a href="https://github.com/chucky594" target="_blank"> View my Github projects</a>

    </div>
    <div class="Skills">
        <h4> Skills</h4>
        <ul>
            <li>Expert on python</li>
            <li>Flask framework</li>
            <li>HTML and CSS</li>
            <li>Databases: SQL, MongoDB</li>
        </ul>
    </div>
    <div class="Addons" >
        <h5> Addons</h5>
        <p>I built a website for a small busines using Wordpress. I learned how to use
            plugins like Elementor, Woocommerce and others.Learned how add images to Wordpress
            websites. Gained hands-on experienced on how to provide a domain to a website.
        </p>
        <p>Configured Wordpress to run it locally on my machine. I gained hands-on experience
            doing this project. If you're looking for a Wordpress expert and a python developer
            I am your go to guy.
        </p>
        <a href="https://jovadrops.co.ke/" target="_blank">Visit the Wordpress website at:</a>

    </div>
    <div class="Contact">
        <h6>Contact Me on:</h6>
        <addess>
            <a href="mailto:kipkorirenock594@gmail.com" target="_blank">kipkorirenock594@gmail.com</a><br>
            <a href="tel:+254713595262" target="_blank">+254713595262</a>
        </addess>
        

    </div>

</body>
</html>